.body {
    overflow: scroll;
}

#wrapper {
    resize: both;
}

#repeat-text {
    font-size: xx-large;
    display: none;
}

#header-text {
    font-size: xx-large;
    /* display: none; */
}

#chap-one {
    text-align: center;
    position: relative;
    z-index: 1;
    margin: auto;
    top: 90%;
    /* left: 42%; */
    overflow: auto;

}

#chap-two {
    /* This is chapter 3 for HP example */
    text-align: center;
    position: absolute;
    z-index: 1;
    margin: auto;
    top: 74%;
    left: 25%
}

.container {
    padding: 100px
}

.line-one {
    width: 10px;
    height: 45px;
    position:relative;
    z-index: 3;
    top: 95%;
    left: 0%;
    margin: 0 auto;
    height: 2px;
    background: black;
    width: 450px;
    resize: both;
    overflow: auto;
   
}

.line-two {
    width: 10px;
    height: 45px;
    position:relative;
    z-index: 3;
    top: 85px;
    left: 0%;
    margin:auto;
    height: 2px;
    background: black;
    width: 410px;
   
}

.line-three {
    width: 10px;
    height: 45px;
    position:relative;
    z-index: 3;
    top: 170px;
    left: 0%;
    margin:auto;
    height: 2px;
    background: black;
    width: 370px;
   
}

.line-four {
    width: 10px;
    height: 45px;
    position:relative;
    z-index: 3;
    top: -85px;
    left: 0;
    margin:auto;
    height: 2px;
    background: black;
    width: 410px;
   
}

.line-five {
    width: 10px;
    height: 45px;
    position:relative;
    z-index: 3;
    top: -170px;
    left: 0;
    margin:auto;
    height: 2px;
    background: black;
    width: 370px;
   
}

.verticle-line {
    width: 10px;
    height: 45px;
    position:relative;
    z-index: 3;
    top: -265px;
    left: 0%;
    margin:auto;
    height: 530px;
    background: black;
    width: 2px;
   
}


.circle {
    background: lightblue;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    top: -530px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: auto;
}


/* .lines::after, .lines::before {
    content:'';
    position:absolute;
    margin:auto;
    height: 2px;
    background: black;
    width: 45%;
    top: 45%
}

.lines::after {
    left:0
}

.lines::before {
    right:0
} */